* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  display: flex;
  color: black(255, 0, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://miro.medium.com/max/1400/1*L5QyrMNalM3yhtgdgBcvkQ.png");
}

h1 {
  text-align: center;
}

h6 {
  padding: 50px;
}

.container {
  border: 5px solid black;
  padding: 100px;
}

#javascript {
  display: none;
  text-align: center; 
}

#python {
  display: none;
}

#swift {
  display: none;
}
