* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex;
  color: #79db75;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://miro.medium.com/max/1400/1*L5QyrMNalM3yhtgdgBcvkQ.png");
  background-repeat: repeat;
  font-family: "Cascadia Code", sans-serif;
}

h1 {
  text-align: center;
  background-color: black;
  color: #79db75;
}

h6 {
  padding: 50px;
  text-align: center;
}

p {
  font-size: 1rem;
}

.container {
  border: 5px solid black;
  padding: 100px;
}

#javascript {
  display: none;
  text-align: center;
  color: #e5c07b;
}

#python {
  display: none;
  text-align: center;
  color: #e06c75;
}

#swift {
  display: none;
  text-align: center;
  color: #c678dd;
}
